.landing-header {
    background-image: url("../assets//072840.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 90px;
}


/* .landing-header {} */

.header-content {
    text-align: center;

}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.phone-number {
    margin: 0 20px;
}

.email {
    margin-left: 6px;
}

.follow {
    font-size: medium;
    margin-left: 40px;
}


.us {
    margin-left: 20px;
}

.insta{
    margin-left: 5px;
    margin-top: -1px;
}

.youtube {
    margin-left: 5px;
}

.facebook{
    margin-left: 6px;
}

.twiit{
    margin-left: 6px;
}