.landing-header {
    background-image: url("../assets//072840.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 90px;
}

.header-content {
    text-align: center;

}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -25px;
    margin-top: -29px;

}

.phone-number {
    margin: 0 20px;
}

.email {
    margin-left: 6px;
}

.follow {
    font-size: medium;
    margin-left: 40px;
}


.us {
    margin-left: 20px;
}

.insta {
    margin-left: 10px;
    margin-top: -1px;
}

.youtube {
    margin-left: 13px;
}

.facebook {
    margin-left: 13px;
}

.twiit {
    margin-left: 13px;
}


.mid-header {
    position: relative;
    top: -75px;
    width: 100px;
    height: auto;
    margin-left: 150px;
}

.shop-button {
    background-color: rgb(8, 8, 44);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    top: 60px;
    right: 400px
}

.about-us {
    color: rgb(8, 8, 44);
    background-color: white;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 60px;
    font-weight: medium;
    right: 290px
}

.sign-in {
    background-color: rgb(8, 8, 44);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    top: 60px;
    right: 200px
}

.sign-up {
    color: rgb(8, 8, 44);
    background-color: white;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 60px;
    font-weight: medium;
    right: 100px;
    border: 1px solid rgb(8, 8, 44);
}

.lower-header {
    background-color: black;
    color: white;
    padding: 55px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.lion {
    width: 120px;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.logo-2 {
    width: 150px;
    height: auto;
    position: absolute;
    right: 580px;
    top: 55px;
    transform: translateY(-50%);
}

.p-tag {
    text-align: center;
    margin-top: 60px;
    margin-right: -70px;
}

.market{
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
}

.flexbox-container{
    display: flex;
    justify-content: center;

}

.flexbox-item {
    width: 300px;
    margin: 10px;
    border: 1px solid #333;
    
}

.flexbox-item-1 {
    min-height: 170px;
    margin-left: 240px;
    margin-top: 70px;
}

.flexbox-item-2 {
    min-height: 170px;
    margin-left: 550px;
    margin-top: -182px;
}

.flexbox-item-3 {
    min-height: 170px;
    margin-left: 860px;
    margin-top: -182px;
}
