.about-logo img {
  /* margin-top: 50px; */
  min-width: 250px;
  max-width: 400px; /* Adjust the maximum width of your logo */
}
.about-logo {
  margin-top: 100px;
}
.about-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.about-header-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
}
.about-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: bisque; */
}
/* Button styles */
.about-buttons {
  display: flex;
  gap: 10px; /* Add some spacing between buttons */
}
.about-cards {
  display: flex;
}
/* .about-card-one p {
  /* text-align: center; 
} */

.about-card-one h3 {
  padding: 15px;
}
.about-card-one {
  flex: 3;
  padding: 20px;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1px;
}
.about-text-section p {
  text-align: center;
  margin: 20px 0;
}
.about-text-section h2 {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 44px;
}
.about-plane {
  margin-top: 50px;
}
.about-plane p {
  font-weight: 800;
}

.ams-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.ams-header {
  margin-bottom: 30px;
  font-size: 30px;
}
/* .ams-header ul {
  /* list-style-type: none; 
  display: flex;
} */
.ams-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ams-lists li {
  padding: 10px 60px;
  list-style-type: none;
  background-color: #252b42;
  margin-right: 15px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.ams-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.ams-text P {
  font-size: 45px;
  /* font-family: l; */
  text-transform: uppercase;
  color: #252b42;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  width: 80vw;
}
/* .shop2-image {
  z-index: 2;
  width: 80vw;
  height: 80vh;
  background-color: red;
  /* height: 38vh; 
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
.shop1-image {
  /* height: 38vh; 
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
} */
.lion-images-container {
  position: relative;
}

.big-lion img {
  width: 100vw;
}
