.background-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../public/bg-img.jpg");
  }
  
  .form-container {
    display: flex;
    justify-content: center;
  }
  
  .form-item {
    width: 300px;
    margin: 10px;
    background-color: #ffffff;
  }
  
  .form-items {
    padding: 13px;
    min-height: 850px;
    margin-top: 30px;
    min-width: 400px;
    margin-left: 1470px;
  }
  
  .logo {
      margin-left: 130px;
      margin-top: 200px;
      display: flex;
  }
  
  .main-acc {
      margin-left: 50px;
      display: flex;
      margin-top: 100px;
  }
  .yourself {
    margin-left: 50px;
    display: flex;
    margin-bottom: 10px;
}
  
  form {
    width: 380px;
    height: 400px;
    gap: 20px;
    /* background-color: beige; */
  }

  .fullname {
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 30px;
    width: 350px;
  }
  
  .form-group {
    margin-bottom: 10px;
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    margin-left: 20px;
    font-size: medium ;
  }

  .form-group-1 {
    margin-top: 20px;
    width: 140px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    margin-left: -230px;
    font-size: medium ;
  }
  
  label {
    margin-right: 240px;
    font-size: small;
  }

  .label-1 {
    margin-right: 160px;
    font-size: small;
  }
  
  input {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
  }
  
  .submit-button {
      padding: 10px 80px;
      background-color: rgb(8, 8, 44);
      color: white;
      border: none;
      cursor: pointer;
      margin-left: 50px;
      border-radius: 200px;
  }
  
  .not-now {
      padding: 10px 80px;
      background-color: white;
      color: black;
      cursor: pointer;
      margin-left: 40px;
      border-radius: 200px;
  }
  
  