.card-container {
  /* display: flex; */
  /* border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; */
  margin: 10px;
  height: 30rem;
  /* background-color: blue; */
}
.card-body {
  width: 17vw;
  /* height: 45vh; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  /* background-color: red; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  justify-content: flex-start !important;
  /* overflow: hidden; */
  margin: 10px;
}
.circular-image-div {
  border-radius: 50%;
  background-color: #369159;
}
.circular-image-div {
  position: relative;
  background-color: gold;
  height: 5rem;
  width: 290px;
  height: 290px;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-sale {
  position: absolute;
  top: 20px;
  font-size: 18px;
  font-weight: 600;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: rgb(214, 7, 7);
  border-radius: 10px;
}
.image-container {
  background-color: gold;
  width: 270px;
  height: 270px;
  color: white;
  position: relative;
  /* align-self: center; */
  /* padding: 0.5rem; */
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .image-container {
  flex: 1;
  display: flex;
  /* justify-content: center; 
  align-items: center;
  /* overflow: hidden; 
  background-color: #369159;
  /* border-radius: 50%;
  height: 100%; 
  height: 25vh;
  /* width: 20vw; 
} */

.circular-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.content {
  flex: 2;
  padding: 20px;
  /* align-self: flex-start; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  color: #0074cc;
  font-weight: 500;
}
.title {
  font-size: 20px;
  margin: 0;
}

.rating {
  font-size: 16px;
  color: #ffd700; /* Gold color for stars */
}
.card-icons {
  position: absolute;
  width: 8vw;
  bottom: 20.5px;
  /* margin-left: 10px; */
  /* background-color: green; */
}

.card-description {
  margin-top: 10px;
  color: gray;
}

.view-button {
  background-color: white;
  color: #fff;
  border: none;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  color: rgb(43, 40, 40);
  display: flex;
  /* justify-content: center; */
  margin-top: 10px;
  align-items: center;
}
.view-button img {
  width: 30px;
  margin-left: 8px;
}
/* .view-button img:hover {
  color: white;
  background-color: white;
} */
/* .view-button:hover {
  color: white;
  background-color: black;
} */
/* Add more CSS styles as needed */
.card-prices {
  color: gray;
}
.card-sales {
  margin-top: 10px;
  color: gray;
  font-weight: 700;
  margin-bottom: 10px;
}
.card-sales img {
  margin-right: 10px;
}

.card-prices scan {
  font-size: 20px;
  color: rgb(97, 151, 97);
  font-weight: 700;
  margin-left: 5px;
}
.icon:hover {
  cursor: pointer;
}
