* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  /* 
  html, body, #root{
    width: 100%;
    height: 100%;
  } */
  
  #root {
    /* Your CSS styles for the #root element here */
  }
  
  @media (min-width: 700px) {
    /* CSS rules for screens with a maximum width of 768px or less */
    /* Place your styles here */
    #businessAuthorization {
      /* border: 1px red solid; */
      width: 700px;
    }
  }
  
  @media (max-width: 701px) {
    /* CSS rules for screens with a maximum width of 768px or less */
    /* Place your styles here */
    #businessAuthorization {
      /* border: 1px blueviolet solid; */
      width: 100%;
    }
  }